@model Sales_Order.Models.Sales

@{
    ViewData["Title"] = "Sales Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="display-4 text-center">@ViewData["Title"]</h1>
    <hr>

    <div class="row md-6">
        
        <h3>Sales Information</h3>
        <table class="table table-striped">
            <tr>
                <th>Sales Order:</th>
                <td>@Html.DisplayFor(model => model.SalesOrder)</td>
            </tr>
            <tr>
                <th>Sales Order Item:</th>
                <td>@Html.DisplayFor(model => model.SalesOrderItem)</td>
            </tr>
            <tr>
                <th>Work Order:</th>
                <td>@Html.DisplayFor(model => model.WorkOrder)</td>
            </tr>
            <tr>
                <th>Product ID:</th>
                <td>@Html.DisplayFor(model => model.ProductID)</td>
            </tr>
            <tr>
                <th>Product Description:</th>
                <td>@Html.DisplayFor(model => model.ProductDescription)</td>
            </tr>
            <tr>
                <th>Order Quantity:</th>
                <td>@Html.DisplayFor(model => model.OrderQuantity)</td>
            </tr>
            <tr>
                <th>Order Status:</th>
                <td>@Html.DisplayFor(model => model.OrderStatus)</td>
            </tr>
            <tr>
                <th>Timestamp:</th>
                <td>@Html.DisplayFor(model => model.Timestamp)</td>
            </tr>
        </table>
    </div>

        
    </div>

    <div class="text-center">
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-primary">Edit</a>
    </div>
</div>
